.about{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    video{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        pointer-events: none;
    }

    .cover{
        height: 100vh;
        background: linear-gradient(50deg, rgba(0, 0, 0, 0.973), rgba(0,0,0,0.4));
        position: relative;

        .left-side{
            padding: 0 0 0 5%;

            h1{
                text-transform: uppercase;
                font-weight: 300;
                font-size: 3.5em;
            }
            p{
                font-size: 1.1em;
            }
        }

        .right-side{
            height: 100vh;

            .sight{
                height: 100%;
                .image{
                    height: 200px;
                }

                h1{
                    color: rgba(0,0,0,0.9);
                    font-weight: 300;
                    text-transform: uppercase;
                    font-size: 1.6em;
                }
                p{
                    font-size: .8em;
                }
            }
        }
    }
}